#unity-inspect-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 180px;
  border-radius: 0 10px 0 0;

  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;

  button {
    background-color: white;
    width: 180px;
    padding: 4px 16px;
    border-radius: 24px;
    font-size: 12px;

    &:disabled{
      border: 1px solid #999999;
      background-color: #cccccc;
      color: #666666;
    }
  }

  .back-button {
    padding: 0;
    width: 36px;
    height: 36px;
    display: grid;
    place-items: center;
  }
}