#profile {
  display: block;
  width: 36px;
  height: 36px;
  margin: 0 auto;
  
  #profile-settings-toggle {
    padding: 0;
    width: 36px;
    border: 0;
    outline: none;
    
    img {
      width: 36px;
      border-radius: 36px;
      border: 1px solid white;
    }
  }

  #profile-settings-block {
    width: 150px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    position: fixed;
    bottom: 90px;
    left: 90px;
    margin: 0 24px;
    padding: 24px;
    background-color: #222222;
    border-radius: 12px;
    transition-timing-function: cubic-bezier(0.86,0,0.07,1);
    transition-duration: 300ms;

    // cloxed
    transform: translateY(200px);

    // open
    &.open {
      transform: translateY(0);
    }
  }
}