#unity-controls {
    position: absolute;
    top: 0;
    left: 0;

    #panel-paused, #panel-inspect {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.75);
        padding: 24px;
        width: calc(250px - 48px);
        transition-duration: 300ms;

        &.invisible {
            transform: translateX(-250px);
        }

        &.visible {
            transform: translateX(0);
        }
    }

    #panel-test {
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 12px;

        display: flex;
        gap: 12px;

        transition-duration: 300ms;

        button {
            background-color: white;
        }

        .uploads-item {
            max-width: 100px;
        }

        &.invisible {
            transform: translateY(200px);
        }

        &.visible {
            transform: translateY(0);
        }
    }
}

